<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_login"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.my_login.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.my_login.CalculatorActivity"
            android:label="@string/title_activity_calculator" >
        </activity>
        <activity
            android:name="com.example.my_login.ChangeColorActivity"
            android:label="@string/title_activity_change_color" >
        </activity>
        <activity
            android:name="com.example.my_login.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
           
        </activity>
        <activity
            android:name="com.example.my_login.VoiceRecognizerActivity"
            android:label="@string/title_activity_voice_recognizer" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
